<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518776503580-cnh3jn7up8m921vdib3t9s7156a0i3q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518776503580-cnh3jn7up8m921vdib3t9s7156a0i3q0</string>
	<key>API_KEY</key>
	<string>AIzaSyAFJFMUlGeqjKVJ7uJTRzUT0DemBkBy3cU</string>
	<key>GCM_SENDER_ID</key>
	<string>518776503580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhruvweaver.Polyphonic</string>
	<key>PROJECT_ID</key>
	<string>polyphonic-f4f12</string>
	<key>STORAGE_BUCKET</key>
	<string>polyphonic-f4f12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518776503580:ios:04474eb5466d7076c60ed9</string>
</dict>
</plist>