<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<dict>
				<key>NSExtensionActivationSupportsWebURLWithMaxCount</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>CustomShareNavigationController</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SpaceMono-Bold.ttf</string>
		<string>SpaceMono-BoldItalic.ttf</string>
		<string>SpaceMono-Italic.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
	</array>
</dict>
</plist>
